
{% extends "index.html" %}
{% block contend %}

<link rel="stylesheet" href="../static/css/styles.css">


<!-- contenido estudiante  -->
<div class="d-flex flex-column align-items-stretch  bg-light" style="max-width: 80% !important;">

  <div class="container-fluid mx-auto text-center bg-primary text-decoration-none text-light mb-1">
    <img src="https://cdn-icons-png.flaticon.com/512/6394/6394638.png" class="bi mt-1 me-2" width="50" height="50"
      alt="">
    <p class="fs-5 mb-2 fw-semibold">Horario de Clases</p>
  </div>



  <div class="list-group list-group-flush border-bottom  bg-light scrollarea h-100">

    <!-- elementos usuario -->
  <table class="table table-light table-bordered">
    <tr>
        <th style="border-radius: 14px;"></th>
        {% for hour in hours %}
            <th class="text-center" style="min-width:166.69px !important">{{ hour }}</th>
        {% endfor %}
    </tr>

    {% for day in days %}
        <tr > 
            <th class="fs-10  h-150 align-middle" style="max-width: 75px;">
              <div class="text-center">              
                {{ day }}
              </div>
            </th>
            {% for hour in hours %}
                <td  class="mx-auto w-225 " style="min-width: 120px;  ">
                    {% for detail in detalle %}
                        {% if detail.dia == day and detail.hora == hour %}


                        <div class="text-center mx-auto" 
                        style="width: 150px;border-radius: 8px;
                        background: #f3f3f3;
                        box-shadow:  8px 8px 18px #c1c1c1,
                                     -8px -8px 18px #fbfbfb">
                                    <div class="bg-danger rounded-top">{{ detail.materia }}</div>
                                    <div class="fs-10">{{detail.profesor }}</div>
                                    <div class="fs-10">{{ detail.hora}}</div>
                                    <div class="fs-10">{{ detail.dia}}</div>
                                    <div class="fs-10">{{detail.modalidad}}</div>
                                    <div class="fs-10">{{detail.fechaInicio}}-{{detail.fechaFin}}</div>
                        
              
                        </div>
                          

  
                        {% endif %}
                    {% endfor %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
  </table>





    <!-- <table class="table table-light table-bordered ">
      <thead>
        <tr class="text-center">
      
          <th>7:00 - 7:59</th>
          <th>8:00 - 8:59</th>
          <th>9:00 - 9:59</th>
          <th>10:00 - 10:59</th>
          <th>11:00 - 11:59</th>
          <th>12:00 - 12:59</th>
        </tr>
      </thead>
      <tbody>

        <tr class="text-center">

          <td>
            <div class="text-center mx-auto" style="width: 150px;  border-radius: 14px;
              background: #f2f2f2;
              box-shadow:  9px 9px 16px #c6c6c6,
                          -9px -9px 16px #ffffff;">
              <div class="bg-danger rounded-top">Materia</div>
              <div>Docente</div>
              <div>Carrera</div>
              <div>Presencial</div>
              <div>2020/1/1 - 2021/1/1</div>
            </div>

          </td>
          <td>
            <div class="text-center mx-auto" style="width: 150px;  border-radius: 14px;
              background: #f2f2f2;
              box-shadow:  9px 9px 16px #c6c6c6,
                          -9px -9px 16px #ffffff;">
              <div>Materia</div>
              <div>Docente</div>
              <div>Carrera</div>
              <div>Presencial</div>
              <div>2020/1/1 - 2021/1/1</div>
            </div>

          </td>
          <td>
            <div class="text-center mx-auto" style="width: 150px;  border-radius: 14px;
              background: #f2f2f2;
              box-shadow:  9px 9px 16px #c6c6c6,
                          -9px -9px 16px #ffffff;">
              <div>Materia</div>
              <div>Docente</div>
              <div>Carrera</div>
              <div>Presencial</div>
              <div>2020/1/1 - 2021/1/1</div>
            </div>

          </td>
          <td>
            <div class="text-center mx-auto" style="width: 150px;  border-radius: 14px;
              background: #f2f2f2;
              box-shadow:  9px 9px 16px #c6c6c6,
                          -9px -9px 16px #ffffff;">
              <div>Materia</div>
              <div>Docente</div>
              <div>Carrera</div>
              <div>Presencial</div>
              <div>2020/1/1 - 2021/1/1</div>
            </div>

          </td>
          <td>
            <div class="text-center mx-auto" style="width: 150px;  border-radius: 14px;
              background: #f2f2f2;
              box-shadow:  9px 9px 16px #c6c6c6,
                          -9px -9px 16px #ffffff;">
              <div>Materia</div>
              <div>Docente</div>
              <div>Carrera</div>
              <div>Presencial</div>
              <div>2020/1/1 - 2021/1/1</div>
            </div>

          </td>

          <td>
            <div class="text-center mx-auto" style="width: 150px;  border-radius: 14px;
              background: #f2f2f2;
              box-shadow:  9px 9px 16px #c6c6c6,
                          -9px -9px 16px #ffffff;">
              <div>Materia</div>
              <div>Docente</div>
              <div>Carrera</div>
              <div>Presencial</div>
              <div>2020/1/1 - 2021/1/1</div>
            </div>

          </td>
          <td>
            <div class="text-center mx-auto" style="width: 150px;  border-radius: 14px;
              background: #f2f2f2;
              box-shadow:  9px 9px 16px #c6c6c6,
                          -9px -9px 16px #ffffff;">
              <div>Materia</div>
              <div>Docente</div>
              <div>Carrera</div>
              <div>Presencial</div>
              <div>2020/1/1 - 2021/1/1</div>
            </div>

          </td>


        </tr>

      </tbody>
    </table> -->



  </div>


</div>








<div class="b-example-divider" style="width:20px"></div>



<!-- barra opciones -->

<div class="d-flex flex-column   bg-light" style="width: 100px;">

  <div class="d-flex flex-column  h-100 ">


    <a class="mt-3  text-center text-decoration-none  btn-circle  mx-auto" href="/" style="width: 70px ; height: 70px;">
      <img src="https://cdn-icons-png.flaticon.com/512/4939/4939785.png" width="40px" height="40px" alt="">
    </a>



  </div>


</div>


<style type="text/css">
  .lastBar {
    width: 15px !important;
  }

  .firstBar {
    width: 20px !important;
  }
  .fs-10{
    font-size: 14px;
  }
  .containercard td {
    min-width: 120px;
    max-width: 160px;
    min-height: 60px;
    max-height: 60px;
  }

  .w-225{
    width: 225px !important;
  }
  .h-150{
    height: 160.67px !important;
  }
</style>

{% endblock %}



