{% extends "index.html" %}


{% block contend %}

{% load widget_tweaks %}
<link rel="stylesheet" href="../static/css/styles.css">
<link rel="stylesheet" href="../static/css/sidebar.css">







<!-- contenido estudiante  -->
<div class="d-flex flex-column align-items-stretch  bg-light" style="width: 1050px;">


  
  <div style="background-color:#ff595e" class="container-fluid mx-auto text-center text-decoration-none text-light mb-1">
    
    <img src="https://cdn-icons-png.flaticon.com/512/6394/6394638.png" class="bi mt-1 me-2" width="50" height="50"
      alt="">
    <p class="fs-5 mb-2 fw-bold">Asignacion de Horario de Clases</p>
  
  </div>


  <form id="formAsignar" 
  style="border-radius: 12px;
  background: #f0f0f0;
  box-shadow:  9px 9px 18px #cecece,
               -9px -9px 18px #ffffff;"
  class="row m-3">
    {% csrf_token %}
    <div><br></div>

    <div class="col-6 p-0">


      <div class="form-group campform {% if form.Nombre.errors %}has-error{% endif %}" >
        <div class="d-flex justify-content-evenly">
          <labe class="control-label fw-semibold  ">{{form.Alumno.label_tag }}</labe>
          {{ form.Alumno|add_class:"form-control p-0 text-center" }}
        </div>
      </div>

      <div class="form-group campform {% if form.Materia.errors %}has-error{% endif %}" >
        <div class="d-flex justify-content-evenly">
          <labe class="control-label fw-semibold">{{form.Materia.label_tag }}</labe>
          {{ form.Materia|add_class:"form-control p-0 text-center " }}
        </div>
      </div>

      <div class="form-group campform {% if form.Modalidad.errors %}has-error{% endif %}" >
        <div class="d-flex justify-content-evenly">
          <labe class="control-label fw-semibold">{{form.Modalidad.label_tag }}</labe>
          {{ form.Modalidad|add_class:"form-control p-0 text-center " }}
        </div>
      </div>

      <div class="form-group campform {% if form.Profesor.errors %}has-error{% endif %}" >
        <div class="d-flex justify-content-evenly">
          <labe class="control-label fw-semibold ">{{form.Profesor.label_tag }}</labe>
          {{ form.Profesor|add_class:"form-control p-0 text-center " }}
        </div>
      </div>

    </div>

    <div class="col-6 p-0">

      <div class="form-group campform {% if form.Fecha_Inicio.errors %}has-error{% endif %}" >
        <div class="d-flex justify-content-evenly">
          <labe class="control-label fw-semibold">{{form.Fecha_Inicio.label_tag }}</labe>
          {{ form.Fecha_Inicio|add_class:"form-control p-0 text-center " }}
        </div>
      </div>

      <div class="form-group campform {% if form.Fecha_Fin.errors %}has-error{% endif %}" >
        <div class="d-flex justify-content-evenly">
          <labe class="control-label fw-semibold ">{{form.Fecha_Fin.label_tag }}</labe>
          {{ form.Fecha_Fin|add_class:"form-control p-0 text-center " }}
        </div>
      </div>

      
      <div class="form-group campform {% if form.Dia.errors %}has-error{% endif %}" >
        <div class="d-flex justify-content-evenly">
          <labe class="control-label fw-semibold ">{{form.Dia.label_tag }}</labe>
          {{ form.Dia|add_class:"form-control p-0 text-center " }}
        </div>
      </div>



      
      <div class="form-group campform {% if form.Hora.errors %}has-error{% endif %}" >
        <div class="d-flex justify-content-evenly">
          <labe class="control-label fw-semibold ">{{form.Hora.label_tag }}</labe>
          {{ form.Hora|add_class:"form-control p-0 text-center " }}
        </div>
      </div>


    </div>


    <div class="col-12 text-center  ">
      <a id="msmModal" data-bs-toggle="modal" class="hidden" data-bs-target="#exampleModal1"></a>
      <a id="msmErrorModal" data-bs-toggle="modal" class="hidden" data-bs-target="#exampleModal2"></a>
      <button type="button"  onclick="add()" style="background-color:#ff595e"  class="btn mt-2 text-light  fw-bold">Agregar</button>
    </div>
    <div><br></div>
  </form>




  <form method="POST" id="form" action="http://127.0.0.1:8000/horarioAsignar/"  class="row m-auto"> 
    {% csrf_token %}
    <input type="hidden" id="usuarios" name="usuarios" value="1">

    <table name="table" class="col-12 table table-info text-center">
      <thead> 
        <tr>
          <th>Estudiante</th>
          <th>Materia</th>
          <th>Modalidad</th>
          <th>Profesor</th>
          <th>Fecha Incio</th>
          <th>Fecha Fin</th>
          <th>Dia</th>
          <th>Hora</th>
          <th>Opciones</th>
        </tr>

      </thead>  
      
      <tbody id="tbody" class="text-center">

      </tbody>


    </table>

    <div><hr></div>
    <div class="col-2 text-center  ">
      <button type="submit"   style="background-color:#ff595e ;margin-left: 30px;"  class="btn mt-2 text-light  fw-bold" >Registrar</button>
    </div>
    <div><span></span></div>
  </form>


</div>





<div class="b-example-divider" style="width:20px"></div>



<!-- barra opciones -->
<div class="d-flex flex-column   bg-light" style="width: 90px;">

  <div class="d-flex flex-column  h-100 ">



    <a class="mt-3  text-center text-decoration-none  btn-circle  mx-auto" href="/usuario" style="width: 70px ; height: 70px;">
      <img  src="https://cdn-icons-png.flaticon.com/512/4939/4939785.png" width="40px" height="40px" alt="">
    </a>



  </div>


</div>


<!-- modal mensaje -->

<div class="modal " id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog"  >
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center fw-semibold f-4">
        Debe seleccionar todos los campos antes de añadir
        un registro a la tabla. 
      </div>
      <div id="confirm" class="modal-footer">
      </div>
    </div>
  </div>
</div>

<div class="modal " id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog"  >
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="ErrorModal" class="modal-body text-center fw-semibold f-4">
        Debe seleccionar todos los campos antes de añadir
        un registro a la tabla. 
      </div>
      <div id="confirm" class="modal-footer">
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">

  let listaObjetos = []
  let index = 0 
  d=document

  $tbody = d.getElementsByTagName('tbody')

    // Eliminamos la propiedad required de todos los campos de entrada
  d.querySelectorAll('input').forEach(function(input) {
  input.removeAttribute('required');
  });
  d.querySelectorAll('select').forEach(function(input) {
    input.removeAttribute('required');
  });

  function formReset(){
    $form = d.getElementById('formAsignar')
    $form.reset()
  }



  // async function horarioDispo(){
  //    let x = await fetch('http://127.0.0.1:8000/horarioDispo/', {
  //     method: 'POST',
  //     headers: {
  //       'Content-Type': 'application/json'
  //     },
  //     body: JSON.stringify(user)
  // })
  // }


  function add(){

    let tr = document.createElement("tr");
    
    tr.setAttribute("name", "rows");
    let $tbody = document.getElementById("tbody");
    let registro = {}
    let datoRegistro = {}
    let completed = true


    const inputs = document.querySelectorAll('input, select');
    inputs.forEach(input => {
      
      if (!input.value){
        completed =false
      }
      
      if (input.tagName === "SELECT" && input.selectedIndex === 0){
        completed =false
      }
      
      console.log(input);
      (input.tagName === "SELECT") ? datoRegistro[input.name] = input.options[input.selectedIndex].innerHTML : datoRegistro[input.name] = input.value
      
      // if (input.tagName === "SELECT") { 
      //     datoRegistro[input.name] = input.options[input.selectedIndex].innerHTML}
    
      // else {
      //   datoRegistro[input.name] = input.value
      // }

      registro[input.name] = input.value
    
    });
    
    
    let msmRepetido
    let datoRep

    if (listaObjetos.length > 0) {
      console.log('len de listaobjetos',listaObjetos);
      console.log('verificando tr no repetido objeto',registro);
      listaObjetos.forEach((e) =>{
      if (e['Alumno'] == registro['Alumno'] && e['Profesor']==registro['Profesor'] && e['Dia']==registro['Dia'] && e['Hora']==registro['Hora']){
        datoRep = true
        msmRepetido = 'El registro a ingresar ya ha sido agregado a la tabla'
      }
      else{
        datoRep= false
      }
    })
    }else{
      datoRep = false
    }


    // completed ? alert('completed') : alert('uncompleted')
    if (completed && datoRep===false){

      csrfToken = document.getElementsByName("csrfmiddlewaretoken")[0].value;
      fetch('http://127.0.0.1:8000/horarioEstPro/', {
        method: 'POST',
        body: JSON.stringify(registro),
        headers:{
          'Content-Type': 'application/json',
          'X-CSRFToken': csrfToken
        }
      }).then(res => res.json())
      .then(response => {
        if (!response['res'] && response['res']===null){
            
          listaObjetos.push(registro);
          console.log('listado de objetos', listaObjetos)

          let estudiante   = document.createElement("td")
          let profesor    = document.createElement("td");
          let materia      = document.createElement("td");
          let modalidad     = document.createElement("td");
          let hora        = document.createElement("td");
          let dia         = document.createElement("td");
          let inicio       = document.createElement("td");
          let fin         = document.createElement("td");


          estudiante.innerHTML =  datoRegistro.Alumno
          materia.innerHTML =     datoRegistro.Materia   
          modalidad.innerHTML =   datoRegistro.Modalidad 
          profesor.innerHTML =    datoRegistro.Profesor  
          inicio.innerHTML =      datoRegistro.Fecha_Inicio
          fin.innerHTML =         datoRegistro.Fecha_Fin     
          dia.innerHTML =         datoRegistro.Dia       
          hora.innerHTML =        datoRegistro.Hora     
          
          tr.appendChild(estudiante)
          tr.appendChild(materia)
          tr.appendChild(modalidad)
          tr.appendChild(profesor)
          tr.appendChild(inicio)
          tr.appendChild(fin)
          tr.appendChild(dia)
          tr.appendChild(hora)
          tr.innerHTML +=  `<td>  <button    data-index=${index} type="button" id="btnDelete" class="btn m-0 p-0" onClick=delRegisto(this)>
            <svg class="" width="18px" height="18px">
                  <use xlink:href="#delete" />
                </svg>
            
            </button>  </td>`
          index +=1 
          console.log('numero de lementos lista object:', index)
          // <svg class="m-0 p-0" width="20px" height="16px"><use xlink:href="#delete" /></svg> 
          $tbody.appendChild(tr)
          formReset()
        }
        else {

          $errorModal = d.getElementById('ErrorModal')
          $errorModal.innerHTML = response['res']
          d.getElementById('msmErrorModal').click()}
      }
      )
    }


    else{
      if(datoRep==true){
        $errorModal = d.getElementById('ErrorModal')
        $errorModal.innerHTML = msmRepetido
        d.getElementById('msmErrorModal').click()
      }
      else{
        d.getElementById('msmModal').click()
      }
      // alert('Selecione todos los campos')
    }
  }

//enviar el formulario de la tabla
  d.getElementById('form').addEventListener('submit', ()=>{
      var usuariosJson = JSON.stringify(listaObjetos);
      document.querySelector("#usuarios").value = usuariosJson;
  })


  function updateIndexTr(){
    let btns = d.querySelectorAll('#btnDelete')
    index= 0
    btns.forEach(btn =>{
      btn.setAttribute('data-index', index)
      index +=1
    })

  }

  function delRegisto(e){
    var row = e.parentNode.parentNode;
    row.remove()

    console.log('numero del la fila eliminado', e.getAttribute("data-index") )
    listaObjetos.splice(e.getAttribute("data-index"),1)
    updateIndexTr()
    console.log('lista de objetos actualizado', listaObjetos);
  }

</script>



<style type="text/css">
  .lastBar {
    width: 15px !important;
  }

  .firstBar {
    width: 20px !important;
  }
</style>


{% if msmAsignado %}
<div id="alertSuccess" class="alertSuccess  w-25 rounded text-center alert alert-success alert-dismissible fade show" role="alert">
     {{ msmAsignado }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <script type="text/javascript">
    $alert = document.getElementById("alertSuccess")
    setTimeout( ()=>{
      $alert.parentNode.removeChild($alert)
    }, 4000) 
  </script>  
{% endif %}







{% if success %}
  <div id="alertSuccess" class="alertSuccess  w-25 rounded text-center alert alert-success alert-dismissible fade show" role="alert">
    {{ success }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <script type="text/javascript">
    $alert = document.getElementById("alertSuccess")
    setTimeout( ()=>{
      $alert.parentNode.removeChild($alert)
    }, 3000) 

  </script>  



{% endif %}



{% endblock %}

